.hd-top{
        position: absolute;
    width: 100%;
    background-color: #00000000;
    z-index: 1;
}
.wrapper {
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;
  }

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
.logo{
    width: 55%;
    position: absolute;
    padding: 0px 0px;
    }
.logo a{padding-top: 19px;padding-bottom: 67px;}   
.logo a img{
  width: 100%;
}    
    
img{
        width: 100%;
    }
    
    .bot-menu{
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 503px;
        padding: 4px 0px;
    }

#smoke{
    background: url(../img/smoke.png) no-repeat left; 
    padding: 60px 0px;;
}

.bg-gray{
    background: url(../img/color-stick.png) no-repeat right #b9b9b9a6;
    background-size: 22%;
    background-position-y: 19px;
}
.bg-gray img{
    width: 4%;
    float: left;
    margin-left: -43px;
}
.bg-gray ul{
    float: left;
    list-style-type: none;
    margin: 0 auto;
    padding: 17px 26px;
}
.bg-gray ul li{
    text-decoration: none;
}
.bg-gray ul li p{
    font-size: 18px;
    color: #000;
    margin:  0;
    padding: 7px 12px;
}
.quick {
    
}
.quick h3{
    font-size: 22px;
    font-family: lato;
    padding: 0px 0px;
}
.quick p{
    font-family: lato;
    color: #918f9d;
    font-size: 16px;
    font-weight: 400;    
}
.quick ul{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}
.quick ul li{
    text-decoration: none;
    font-family: lato;
    color: #918f9d;
    font-size: 16px;
    font-weight: 400;
}
.quick ul li a{
    color: #fff;
    font-size: 16px;
}
.social{
    
}
.social .fb{
    width: 100%;
    padding: 4px 16px;
    background: url(../img/social-icon.png) no-repeat;
    background-size: 122px;
    background-position-x: 0px;
   
}
.social .tube{
    width: 100%;
    padding: 4px 16px;
    background: url(../img/social-icon.png) no-repeat;
    background-size: 122px;
    background-position-x: -59px;
}
.social .insta{
    width: 100%;
    padding: 4px 16px;
    background: url(../img/social-icon.png) no-repeat;
    background-size: 122px;
    background-position-x: -90px;
}
.social .twitt{
    width: 100%;
    padding: 4px 16px;
    background: url(../img/social-icon.png) no-repeat;
    background-size: 122px;
    background-position-x: -28px;
}

.copyright{
        border-top: 1px solid #23212f;
    padding-top: 17px;
}
.map{
    border: #eee 1px solid;
    padding: 2px 2px;
    margin: 0 auto;
    box-shadow: #eee 1px 2px 11px;
}
.address{
    padding: 0px 0px;
    margin: 39px auto;
    }
.address h3{
    font-size: 22px;
    color: #4e4e4e;
    padding: 0px 0px;
    font-family:  sans-serif;
    }
.address ul{
    padding: 0px 0px;
    margin:  0 auto;
    }
.address ul li{
    text-decoration:  none;
    list-style-type:  none;
    }
.address ul li p{
    color: #666;
    margin:  0 auto;
    padding: 4px 8px;
    }
.contact{
    padding: 0px 0px;
    margin: 0 auto;
    margin-top: 0px;
    }
.contact h3{
    font-size: 22px;
    color: #4e4e4e;
    padding: 0px 0px;
    font-family:  sans-serif;
    }
    
    
.module-bg{
    background: url('../img/module-4.jpg') no-repeat;
    position: relative;
    z-index: 0;
    background-attachment: scroll;
    background-size: cover;
    }
.module-bg .sec1{
    float: left;
    padding: 71px 20px;
    margin: 0 auto;
    }
.module-bg .sec1 h3{
    font-size: 39px;
    padding: 0px 0px;
    margin: 0 auto;
    color: #fff;
    font-family: sans-serif;
    }
.module-bg .sec1 p{
    font-size: 14px;
    padding: 0px 0px;
    color: #fff;
    }
.module-bg .sec2{
    display: block;
    float: left;
    }
.module-bg .sec2 img{
    width: 100%;
    margin-top: -298px;
    float: right;
    position: relative;
    }
 .parallax {
    background-color: transparent!important;
}
.sec-oil{
    width: 100%;
    margin: 0 auto;
    padding: 67px 0px;
    text-align: center;
}
.sec-oil img{
    width: 100%;
}
.sec-oil h2{
    font-size: 60px;
    color: #f1de5d;
    text-align: center !important;
    font-family: sans-serif;
    font-weight: bold;
}
.sec-dhoop{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.sec-dhoop img{
    width: 100%;
}
.sec-dhoop h2{
    font-size: 24px;
    color: #666;    
}
.sec-deffuser{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.sec-deffuser img{
    width: 100%;
}
.sec-deffuser h2{
    font-size: 24px;
    color: #666;    
}

.sec-potpuri{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.sec-potpuri img{
    width: 100%;
}
.sec-potpuri h2{
    font-size: 24px;
    color: #666;    
}

.flo1{
    background: url('../img/flow/s1.png') no-repeat;
    background-position-x: -20px;
    background-position-y: -10px;
    background-size: auto;
}
.flo2{
    background: url('../img/flow/s2.png') no-repeat;
    background-position-x: 1px;
    background-position-y: 10px;
    background-size: auto;
}
.flo3{
    background: url('../img/flow/3.png') no-repeat;
    background-position-x: 1px;
    background-position-y: 10px;
    background-size: auto;
}
.flo4{
    background: url('../img/flow/s4.png') no-repeat;
    background-position-x: 1px;
    background-position-y: 10px;
    background-size: auto;
}
.flo5{
    background: url('../img/flow/s6.png') no-repeat;
    background-position-x: 1px;
    background-position-y: 10px;
    background-size: auto;
}
.flo6{
    background: url('../img/flow/p11.png') no-repeat;
    background-position-x: 1px;
    background-position-y: 10px;
    background-size: auto;
}
.flo7{
    background: url('../img/flow/p10.png') no-repeat;
    background-position-x: 1px;
    background-position-y: 10px;
    background-size: auto;
}
.flo8{
    background: url('../img/flow/10.png') no-repeat;
    background-position-x: 1px;
    background-position-y: 10px;
    background-size: auto;
}