.hd-top{
    position: absolute;
    width: 100%;
    background-color: #00000000;
    z-index: 1;
}
.wrapper {
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;
  }

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
.logo{
    width: 55%;
    position: absolute;
    padding: 0px 0px;
    }
.logo a{padding-top: 19px;padding-bottom: 67px;}   
.logo a img{
  width: 100%;
}    
    
img{
        width: 100%;
    }
    
    .bot-menu{
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 503px;
        padding: 4px 0px;
    }

#smoke{
    background: url(../img/smoke.png) no-repeat left; 
    padding: 60px 0px;;
}

.bg-gray{
    background: url(../img/color-stick.png) no-repeat right #b9b9b9a6;
    background-size: 22%;
    background-position-y: 19px;
}
.bg-gray img{
    width: 4%;
    float: left;
    margin-left: -43px;
}
.bg-gray ul{
    float: left;
    list-style-type: none;
    margin: 0 auto;
    padding: 17px 26px;
}
.bg-gray ul li{
    text-decoration: none;
}
.bg-gray ul li p{
    font-size: 18px;
    color: #000;
    margin:  0;
    padding: 7px 12px;
}
.quick {
    
}
.quick h3{
    font-size: 22px;
    font-family: lato;
    padding: 0px 0px;
}
.quick p{
    font-family: lato;
    color: #918f9d;
    font-size: 16px;
    font-weight: 400;    
}
.quick ul{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}
.quick ul li{
    text-decoration: none;
    font-family: lato;
    color: #918f9d;
    font-size: 16px;
    font-weight: 400;
}
.quick ul li a{
    color: #fff;
    font-size: 16px;
}
.social{
    
}
.social .fb{
    width: 100%;
    padding: 4px 16px;
    background: url(../img/social-icon.png) no-repeat;
    background-size: 122px;
    background-position-x: 0px;
   
}
.social .tube{
    width: 100%;
    padding: 4px 16px;
    background: url(../img/social-icon.png) no-repeat;
    background-size: 122px;
    background-position-x: -59px;
}
.social .insta{
    width: 100%;
    padding: 4px 16px;
    background: url(../img/social-icon.png) no-repeat;
    background-size: 122px;
    background-position-x: -90px;
}
.social .twitt{
    width: 100%;
    padding: 4px 16px;
    background: url(../img/social-icon.png) no-repeat;
    background-size: 122px;
    background-position-x: -28px;
}

.copyright{
        border-top: 1px solid #23212f;
    padding-top: 17px;
}
.map{
    border: #eee 1px solid;
    padding: 2px 2px;
    margin: 0 auto;
    box-shadow: #eee 1px 2px 11px;
}
.address{
    padding: 0px 0px;
    margin: 39px auto;
    }
.address h3{
    font-size: 22px;
    color: #4e4e4e;
    padding: 0px 0px;
    font-family:  sans-serif;
    }
.address ul{
    padding: 0px 0px;
    margin:  0 auto;
    }
.address ul li{
    text-decoration:  none;
    list-style-type:  none;
    }
.address ul li p{
    color: #666;
    margin:  0 auto;
    padding: 4px 8px;
    }
.contact{
    padding: 0px 0px;
    margin: 0 auto;
    margin-top: 0px;
    }
.contact h3{
    font-size: 22px;
    color: #4e4e4e;
    padding: 0px 0px;
    font-family:  sans-serif;
    }
    
    
.module-bg{
    background: url(../img/module-4.jpg) no-repeat;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
.module-bg .sec1{
    float: left;
    padding: 71px 20px;
    margin: 0 auto;
    }
.module-bg .sec1 h3{
    font-size: 39px;
    padding: 0px 0px;
    margin: 0 auto;
    color: #fff;
    font-family: sans-serif;
    }
.module-bg .sec1 p{
    font-size: 14px;
    padding: 0px 0px;
    color: #fff;
    }
.module-bg .sec2{
    display: block;
    float: left;
    }
.module-bg .sec2 img{
    width: 100%;
    margin-top: -298px;
    float: right;
    position: relative;
    }
 .parallax {
    background-color: transparent!important;
}
.sec-oil{
    width: 100%;
    margin: 0 auto;
    padding: 67px 0px;
    text-align: center;
}
.sec-oil .title{
    text-align: center !important;
        width: 100%;
}
.sec-oil .title img{
        width: 36%;
}
.sec-oil .title h2{
    font-size: 120px;
    color: #cd8c97;
    text-align: center !important;
    font-family: sans-serif;
    font-weight: bold;
}
.sec-oil .title p{
    font-size: 12px;
    color: #cd8c97;
    padding:0px 6px;
    text-align: justify !important;
    font-family: sans-serif;
   
}
.sec-dhoop{
    width: 100%;
    margin: 0 auto;
    padding: 67px 0px;
    text-align: center;
}
.sec-dhoop .title{
    text-align: center !important;
        width: 100%;
}
.sec-dhoop .title img{
        width: 66%;
}
.sec-dhoop .title h2{
    font-size: 55px;
    color: #af7db5;
    text-align: center !important;
    font-family: sans-serif;
    font-weight: bold;
}
.sec-deffuser{
    width: 100%;
    margin: 0 auto;
    padding: 67px 0px;
    text-align: center;
}
.sec-deffuser .title{
    text-align: center !important;
        width: 100%;
}
.sec-deffuser .title img{
        width: 36%;
}
.sec-deffuser .title h2{
    font-size: 120px;
    color: #9ede70;
    text-align: center !important;
    font-family: sans-serif;
    font-weight: bold;
}

.sec-potpuri{
    width: 100%;
    margin: 0 auto;
    padding: 67px 0px;
    text-align: center;
}
.sec-potpuri .title{
    text-align: center !important;
        width: 100%;
}
.sec-potpuri .title img{
       width: 50%;
}
.sec-potpuri .title h2{
    font-size: 60px;
    color: #f1de5d;
    text-align: center !important;
    font-family: sans-serif;
    font-weight: bold;    
}

#flo1{
    margin-top: -445px;
}
#flo1 img{
    padding-left: 13%;
    padding-top: 1px;
    width: 231px;
}
#flo2{
   margin-top: -445px;
   
}
#flo2 img{
    padding-left: 13%;
    padding-top: 1px;
    width: 231px;
}
#flo3{
  margin-top: -445px;
}
#flo3 img{
    padding-left: 13%;
    padding-top: 1px;
    width: 231px;
}
#flo4{
   margin-top: -445px;
}
#flo4 img{
    padding-left: 13%;
    padding-top: 1px;
    width: 231px;
}
#flo5{
   margin-top: -361px;
   margin-left: -261px;
}
#flo5 img{
    padding-left: 1%;
    padding-top: 1px;
    width: 189px;
}
#flo6{
    margin-top: -445px;
}
#flo6 img{
    padding-left: 13%;
    padding-top: 1px;
    width: 231px;
}
#flo7{
    margin-top: -445px;
    margin-right: -22px;
}
#flo7 img{
    padding-left: 13%;
    padding-top: 1px;
    width: 231px;
}
#flo8{
    margin-top: -445px;
}
#flo8 img{
    padding-left: 13%;
    padding-top: 1px;
    width: 231px;
}


@media (max-width:768px){
    #smoke {   
    padding-top: 10px;
    padding-bottom: 30px;
    background: none;
}
.bot-menu {    
    top: 148px;   
}
.sec-oil .title h2 {
    font-size: 55px;   
}
.sec-oil .title p{
    font-size: 12px;   
    padding:0px 6px;
    text-align: justify !important;  
   }
.sec-oil .title img {
    width: 66%;
}   
.sec-dhoop .title p{
    font-size: 12px;    
    padding:0px 6px;
    text-align: justify !important;
}
.sec-dhoop .title img {
    width: 66%;
}
.sec-laven .title p{
    font-size: 12px;    
    padding:0px 6px;
    text-align: justify !important;
}
.sec-laven .title img {
    width: 66%;
}
.sec-deffuser .title h2 {
    font-size: 55px;    
}
.sec-deffuser .title p {
    font-size: 12px;    
    padding:0px 6px;
    text-align: justify !important;
}
.sec-deffuser .title img {
    width: 66%;
}

}